<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/MyCSSGalleries.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/javascript/deleteDisplay.js"></script>
    <script src="https://kit.fontawesome.com/4bce0974fa.js" crossorigin="anonymous"></script>

    <title>Forside</title>
</head>
<body>

<section id="Nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/users"><img src="/images/Logo1.PNG"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/users">HomeManger</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reperation/reperationCreate">Reperation Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reperation/reperationIndex/">Reperation Liste</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product/productIndex">Produkt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery/galleryIndex">Galleri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/KontaktInfoManager">Kontakt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/omOsManager">Om Os</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" style="background-color: whitesmoke" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" style="background-color: whitesmoke" th:href="@{/register}">Opret bruger</a>
                </li>
            </ul>
        </div>
    </nav>
</section>

<!-- Grid -->
<div class="w3-container">
    <form action="/gallery/createGitem" method="post">
        <div class = "w3-cell-row">
            <div class = "w3-container w3-cell">
                <li class="w3-margin w3-card">
                    <header class="w3-container w3-blue"><h2>New Gallery Item</h2></header>
                    <ul class="w3-ul w3-light-grey">

                        <li>
                            <label>Gallery id:</label>
                            <select th:field="*{gitem.gallery}" class="w3-select">
                                <option th:each="g: ${galleries}" th:value="${g.id}">
                                    <a th:text="${g.getCategory()}"></a>
                                </option>
                            </select>
                        </li>

                        <li>
                            <label>Name:</label>
                            <input class="w3-input" type="text"  th:field="${gitem.name}" required>
                        </li>
                        <li>
                            <label>Description</label>
                            <textarea class="w3-input" rows="8" th:field="${gitem.description}" style="resize: none"></textarea>
                        </li>
                        <li>
                            <label>Image:</label>
                            <input class="w3-input" rows="8" th:field="${gitem.gitemURL}" style="resize: none"></input>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w3-container w3-margin w3-center w3-cell-row">
                <button type="submit" class="w3-margin w3-large w3-cell-middle w3-btn w3-round-large w3-blue" style="padding: 20px 80px;">Add</button>
                <a href="/gallery/galleryIndex" class="w3-margin w3-large w3-cell-middle w3-btn w3-round-large w3-red" style="padding: 20px 40px;">Back</a>
            </div>
    </form>
</div>
</div>

</body>
</html>