/*-------------Navigation----------*/
#Nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 75px;
    width: 200px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;

}
.navbar-nav li a
{
    float: right;
    text-align: left;
    font-size: 24px;

}
#Nav-bar ul li a:hover
{
    color: #007bff !important;
}
.navbar
{
    background: #fff;
}
.navbar-toggler
{
    border: none;!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 20px;
}

/*-----------------OM OS html ----------------------*/
{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}
.OmOs
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}
.about-section
{
    background: url("../images/omOsB2.jpg") no-repeat left;
    background-size: 55%;
    background-color: ghostwhite;
    overflow: hidden;
    padding: 100px 0;
}
.inner-container
{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}
.inner-container h1
{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text
{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills
{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width: 1200px) {
    .inner-container
    {
        padding: 80px;
    }
}

@media screen and (max-width: 1000px) {
    .about-section{
        background-size: 100%;
        padding: 100% 40px;
    }
    .inner-container
    {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .about-section{
        padding: 0;
    }
    .inner-container
    {
        padding: 60px;
    }
}