<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="MyCSS.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Forside</title>
</head>
<body>


<div class="navbar">
    <a href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#booking">Booking</a>
    <a href="#reperation">Reperation</a>

    <div class="dropdown">
        <button class="dropbtn">Produkter
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">Køkken</a>
            <a href="#">Toilet</a>
            <a href="#">Bad</a>
        </div>
    </div>

    <a href="#galleri">Galleri</a>
    <a href="#kontakt">Kontakt</a>
    <a href="#omOs">Om os</a>

</div>


<div class="logo">
    <h3>Logo</h3>

</div>

<!-- Grid Beskrivel af deres ydelser -->
<div class="w3-row w3-container">
    <div class="w3-center w3-padding-64">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Hvad tilbyder vi</span>
    </div>
    <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
        <h3>Kategori</h3>
        <p>Beskrivelse her</p>
    </div>

    <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
        <h3>Kategori</h3>
        <p>Beskrivelse her</p>
    </div>

    <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
        <h3>Kategori</h3>
        <p>Beskrivelse her</p>
    </div>

    <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
        <h3>Kategori</h3>
        <p>Beskrivelse her</p>
    </div>
</div>

<br> <br>

<!-- Grid --> <!-- Beskrivelse af hvem de er -->
<div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Hvem er vi</span>
    </div>

    <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4" style="width: 93%">
            <img src="images/download.jpg" width="500px" height="333">
            <div class="w3-container" style="width: 93%" >
                <h3>Senthu Annarajah</h3>
                <p class="w3-opacity">KONGEN</p>
                <p> Jeg har lavet det her shit</p>
            </div>
        </div>
    </div>

    <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4">
            <img> <h3>Indsæt billede her</h3>
            <div class="w3-container">
                <h3>Skriv navn her</h3>
                <p class="w3-opacity">skriv titel her</p>
                <p> Skriv beskrivel</p>
            </div>
        </div>
    </div>

    <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4">
            <img> <h3>Indsæt billede her</h3>
            <div class="w3-container">
                <h3>Skriv navn her</h3>
                <p class="w3-opacity">skriv titel her</p>
                <p> Skriv beskrivel</p>
            </div>
        </div>
    </div>
</div>


<!-- Kontakt Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
            <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Kontakt os</span></div>
            <h3>Addresse</h3>
            <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i> København NV</p>
            <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>62614880</p>
            <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>senthu@live.dk</p>
</div>

</body>
</html>