<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/MyCssIndex.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://kit.fontawesome.com/4bce0974fa.js" crossorigin="anonymous"></script>

    <title>Forside</title>
</head>
<body>

<section id="Nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><img src="/images/Logo1.PNG"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Forside</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reperation/reperationCreate">Reperations Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product/productCus">Produkt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery/galleryCus">Galleri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/KontaktInfo">Kontakt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/omOs">Om os</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" style="background-color: whitesmoke" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</section>

<!-------- Slider  -------->
<div id="slider">

    <div id="headerSlider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#headerSlider" data-slide-to="0" class="active"></li>
            <li data-target="#headerSlider" data-slide-to="1"></li>
            <li data-target="#headerSlider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/køkken3.jpg" style="height: 600px;width: 100%" class="d-block img-fluid">
                <div class="carousel-caption">
                    <h5>Tidligere Projekter</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/køkken5.jpg" style="height: 600px;width: 100%" class="d-block img-fluid">
                <div class="carousel-caption">
                    <h5>Tidligere Projekter</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/køkken2.jpg" style="height: 600px; width: 100%" class="d-block img-fluid">
                <div class="carousel-caption">
                    <h5>Tidligere Projekter</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/køkken.jpg" style="height: 600px; width: 100%" class="d-block img-fluid">
                <div class="carousel-caption">
                    <h5>Tidligere Projekter</h5>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#headerSlider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Forrige</span>
        </a>
        <a class="carousel-control-next" href="#headerSlider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Næste</span>
        </a>
    </div>
</div>

<!--------- OM OS ---------->
<br> <br>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Om Os</h2>
                <div class="about-content">
                    Vi er et firma med 20år erfaring indenfor Varme, Ventilation og sanitetsteknik, der går meget op i at levere
                    god kvalitet og tage os af vores kunder. Sammentidig prøver vi så vidt muligt kun at bruge lokale
                    underleverandøre til vores opgaver. Vi er blandt de bedste inden for branchen og er altid klar
                    24/7, hvis skaden skulle ramme dig
                </div>
                <button type="button" class="btn btn-primary" onclick="window.location.href='/omOs'">læs mere>></button>
            </div>
            <div class="col-md-6 skills-bar">
                <p>Tilfredse Kunder</p>
                <div class="progress">
                    <div class="progress-bar" style="width: 80%;">100%</div>
                </div>
                <p>Loyalitet</p>
                <div class="progress">
                    <div class="progress-bar" style="width: 80%;">100%</div>
                </div>
                <p>Gode priser</p>
                <div class="progress">
                    <div class="progress-bar" style="width: 80%;">100%</div>
                </div>
                <p>Tid til snak</p>
                <div class="progress">
                    <div class="progress-bar" style="width: 100%;">120%</div>
                </div>
            </div>
        </div>
    </div>
</section>

<!------- Services -------->
<section id="services">
    <div class="container">
        <h1>Vi Tilbyder</h1>
        <div class="row services">
            <div class="col-md-3 text-center">
                <div class="icon">
                    <i class="fas fa-shower"></i>
                </div>
                <h3>Badeværelse</h3>
                <p>Løber toilettet, drypper vandhanen, skal vasken udskiftes,
                    eller trænger hele badeværelset til en totalrenovering?
                    Så er Varme, Ventilation og sanitetsteknik Abrahamsen det oplagte valg.</p>
            </div>
            <div class="col-md-3 text-center">
                <div class="icon">
                    <i class="fas fa-faucet"></i>
                </div>
                <h3>Køkken Montering</h3>
                <p> Skal du have et nyt køkken? eller totalrenovering af dit gamle køkken?
                    Så er Varme, Ventilation og sanitetsteknik Abrahamsen det oplagte valg.</p>
            </div>
            <div class="col-md-3 text-center">
                <div class="icon">
                    <i class="fas fa-home"></i>
                </div>
                <h3>Ejendomservice</h3>
                <p>Få en fast aftale med din Varme, Ventilation og sanitetsteknik installatør
                    Vi håndterer alt fra varmestyring til løbende tjek af anlæg og installationer.
                    Vi udarbejder med glæde et skræddersyet tilbud på jeres ejendom.</p>
            </div>
            <div class="col-md-3 text-center">
                <div class="icon">
                    <i class="fas fa-wrench"></i>
                </div>
                <h3>Blikkenslage</h3>
                <p>Vi løser alle typer opgaver, små som store.
                    Fra udskiftning af tagrender til beklædning af kviste.
                    Fra inddækning af skorstene til reparation af facadedækninger.</p>
            </div>
        </div>
    </div>
</section>

<!-----------Teamet-------------->

<section id="team">
    <div class="container">
        <h1>Holdet</h1>
        <div class="row">
            <div class="col-md-3 profile-pic text-center">
                <div class="img-box">
                    <img src="images/person1.jpg" class="img-responsive">
                </div>
                <h2>Elon Musk</h2>
                <H3>Found/CEO</H3>
                <p>Jeg er CEO for tesla og har massere af viden og håber snart jeg kan flyve til månen</p>
            </div>
            <div class="col-md-3 profile-pic text-center">
                <div class="img-box">
                    <img src="images/person2.jpg" class="img-responsive">
                </div>
                <h2>THE ROCK</h2>
                <H3>Found/CEO</H3>
                <p>Mit navn er THE ROCK og jeg kan løfte en masse vægte og er skuespiller ved siden af</p>
            </div>
            <div class="col-md-3 profile-pic text-center">
                <div class="img-box">
                    <img src="images/person3.png" class="img-responsive">
                </div>
                <h2>Barrack Obama</h2>
                <H3>President</H3>
                <p>Jeg er præsidenten af USA, og er stolt over det jeg har gjort for mit land</p>
            </div>
            <div class="col-md-3 profile-pic text-center">
                <div class="img-box">
                    <img src="images/person4.jpg" class="img-responsive">
                </div>
                <h2>Bill Gates</h2>
                <H3>Found/CEO</H3>
                <p>Jeg er CEO af Microsoft og er stolt over hvad jeg har skabt</p>
            </div>
        </div>
    </div>
</section>



</div>

<section id="contact">
    <div class="container">
        <h1>Kontakt Os</h1>
        <div class="row">
            <div class="col-md-6">
                <form class="contact-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Dit Navn">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Telefon nummer">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="4" placeholder="Besked"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary"> Send Besked</button>
                </form>
            </div>
            <div class="col-md-6 contact-info">
                <div class="follow"><b>Addresse: </b> <i class="fas fa-map-marker-alt"></i> Lygten 65, København NV</div>
                <div class="follow"><b>Telefon: </b> <i class="fas fa-phone-volume"></i> 62614880</div>
                <div class="follow"><b>Email: </b> <i class="far fa-envelope-open"></i> senthu@live.dk </div>
                <div class="follow"><b>CVR: </b><i class="fas fa-building"></i> 233455555523</div>
                <div style="text-align: center">
                    <a class="visit">Antal Besøgende</a> <script type='text/javascript'></script>
                    <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/771123/t/6"></script>
                </div>
            </div>
        </div>
    </div>


</section>


</body>

<script>
    const countEl = document.getElementById('count');

    updateVisitCount();

    function updateVisitCount() {
        fetch('https://api.countapi.xyz/update/senthu/senthu/?amount=1')
            .then(res => res.json())
            .then(res => {
                countEl.innerHTML = res.value;
            })
    }

</script>

</html>