<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="MyCSS.css">


    <title>Forside</title>
</head>

<body>


<div class="navbar">
    <a href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#booking">Booking</a>
    <a href="#reperation">Reperation</a>

    <div class="dropdown">
        <button class="dropbtn">Produkter
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">Køkken</a>
            <a href="#">Toilet</a>
            <a href="#">Bad</a>
        </div>
    </div>

    <a href="#galleri">Galleri</a>
    <a href="#kontakt">Kontakt</a>
    <a href="#omOs">Om os</a>

</div>


<div class="logo">
    <h3>Logo</h3>

</div>

<br> <br>
<div class="content">
    <h3>Indhold små bokse</h3>
</div>

<br> <br>
<div class="kontaktInfo">
    <h3>Kontakt info på firma i bunden</h3>
</div>




</body>
</html>