<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontaktform</title>
</head>
<body>
    <h1>Kontaktform</h1>

    <div>Skriv venligst her dit problem s[ specifikt s[ muligt</div>

    <form>
        <label>Fulde navn</label>
        <br>
        <input type="text" name="name">

        <br><br>

        <label>Adresse</label>
        <br>
        <input type="text" name="adress">

        <br><br>

        <label>Email</label>
        <br>
        <input type="email" name="email">

        <br><br>

        <label>tlf. nummer</label>
        <br>
        <input type="number" name="phone" placeholder="12345678">

        <br><br>

        <label>Hvor er skaden forgået?</label>
        <br>
        <input type="radio" name="dmg"  id="koekken">
        <label>Koekken</label>

        <br>
        <input type="radio" name="dmg" id="badevaerelse">
        <label for="badevaerelse">Badevaerelse</label><br>


        <input type="radio" name="dmg" id="Radiator">
        <label for="Radiator">Radiator</label><br>


        <input type="radio" name="dmg" id="Tag">
        <label for="Tag">Tag</label><br>
        <br><br>


        <label>Venligst specificer opgaven efter bedste evne</label>
        <br>
        <input type="text" name="comment">

        <br>
        <br>
        <br>

        <input style="background-color: red" type="submit" value="Send">


    </form>
</body>
</html>