<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/MyCSS.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .w3-tag, .fa {cursor:pointer}
        .w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
    </style>

    <title>Forside</title>
</head>
<body>


<div class="navbar" style="height: 70px">
    <a href="#home" style="font-size: 25px">Home</a>
    <a href="#news" style="font-size: 25px">News</a>
    <a href="#booking" style="font-size: 25px">Booking</a>
    <a href="#reperation" style="font-size: 25px">Reperation</a>

    <div class="dropdown" style="height: 70px">
        <button class="dropbtn" style="font-size: 25px">Produkter
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/product/productIndex">Køkken</a>
            <a href="#">Toilet</a>
            <a href="#">Bad</a>
        </div>
    </div>

    <a href="/gallery/galleryIndex" style="font-size: 25px">Galleri</a>
    <a href="/KontaktInfo" style="font-size: 25px">Kontakt</a>
    <a href="/omOs" style="font-size: 25px">Om os</a>

</div>


<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
    <img src="images/tiger1.jpg"  style="width:100%;min-height:300px;max-height:500px;">
    <div class="w3-container w3-display-bottomleft w3-margin-bottom">
    </div>
</div>

<div class="w3-light-grey w3-container w3-padding-16 w3-center">
    <h3 class="w3-center">VVS Abrahamsen</h3>
    <p class="w3-center" ></p>
</div>



<!-- Kontakt Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
    <div class="w3-left w3-padding-64">
        <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Kontakt os</span></div>
        <h3>Addresse</h3>
        <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i> København NV</p>
        <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>62614880</p>
        <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>senthu@live.dk</p>


        <!-- Image Header -->
        <span class="w3-xlarge w3-border-teal w3-bottombar"></span></div>
    <img src="images/partner.png" class="w3-right"  style="width:70%;min-height:300px;max-height:350px;">
</div>

</div>

</body>
</html>