<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/MyCSSGalleries.css">
    <link rel="stylesheet" href="/css/MyCSSReperationCreate.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/4bce0974fa.js" crossorigin="anonymous"></script>

    <title>Liste af reperation</title>
</head>
<body>

<section id="Nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><img src="/images/Logo1.PNG"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Forside</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reperation/reperationCreate">Reperation form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product/productCus">Produkt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery/galleryCus">Galleri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/KontaktInfo">Kontakt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/omOs">Om os</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" style="background-color: whitesmoke" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</section>

<br><br>
<section class="ReperationForm">
    <div class="container">
        <form action="/reperation/reperationCreate" method="post">

            <h1 style="text-align: center">Reperation Form</h1>

            <label>Fornavn</label>
            <input type="text"  name="first_Name" placeholder="Skriv dit fornavn.." th:field="${reperation.first_Name}">

            <label>Efternavn</label>
            <input type="text"  name="last_Name" placeholder="Skriv dit efternavn.." th:field="${reperation.last_Name}">

            <label>Adresse</label>
            <input type="text"  name="address" placeholder="skriv din addresse.." th:field="${reperation.address}">

            <label>Email</label>
            <input type="text"  name="email" placeholder="skriv din email.." th:field="${reperation.email}">

            <label>Telfon Nummer</label>
            <input type="text"  name="phone_Number" placeholder="skriv dit telefon nummer.." th:field="${reperation.phone_Number}">

            <label>Hvor er skaden sket?</label>
            <select name="damage_Location" th:field="${reperation.damage_Location}">
                <option value="Køkken">Køkken</option>
                <option value="Bad">Bad</option>
                <option value="Stue">Stue</option>
            </select>

            <label>Beskrivelse af skade</label>
            <textarea name="description" placeholder="Beskriv skaden.." th:field="${reperation.description}" style="height:200px"></textarea>

            <input type="submit" value="Send" onclick="alert('besked sendt, Vi kontakter dig hurtigst muligt.')">

        </form>
    </div>
</section>

</body>
</html>