<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/MyCssIndex.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://kit.fontawesome.com/4bce0974fa.js" crossorigin="anonymous"></script>
    <title>hej</title>
</head>
<body>

<h1>Kontaktform</h1>

<div>Skriv venligst her dit problem s[ specifikt s[ muligt</div>

<form action="/reperation/reperationCreate" method="post">
    <label>Fornavn</label>
    <br>
    <input type="text" name="first_Name" th:field="${reperation.first_Name}">
    <br><br>

    <label> Efternavn</label>
    <br>
    <input type="text" name="last_Name" th:field="${reperation.last_Name}" >
    <br><br>

    <label>Adresse</label>
    <br>
    <input type="text" name="address" th:field="${reperation.address}" >

    <br><br>

    <label>Email</label>
    <br>
    <input type="email" name="email" th:field="${reperation.email}">

    <br><br>

    <label>tlf. nummer</label>
    <br>
    <input type="number" name="phone_Number" placeholder="12345678" th:field="${reperation.phone_Number}" >

    <br><br>

    <label>Hvor er skaden forgået?</label>
    <br>

    <input type="text" name="damage_Location" th:field="${reperation.damage_Location}">

    <!--  <select name="damage_Location" th:field="${reperation.damage_Location"} >
          <option value="køkken">Køkken</option>
          <option value="Bad">Bad</option>
          <option value="Tag">tag</option>
          <option value="Radiator">Radiator</option>
      </select> -->

    <!-- <input type="radio" name="damage_Location"  id="koekken" th:field="${reperation.damage_Location}">
    <label>Koekken</label>

    <br>
    <input type="radio" name="damage_Location" id="badevaerelse" th:field="${reperation.damage_Location}">
    <label for="badevaerelse">Badevaerelse</label><br>


    <input type="radio" name="damage_Location" id="Radiator" th:field="${reperation.damage_Location}">
    <label for="Radiator">Radiator</label><br>


    <input type="radio" name="damage_Location" id="Tag" th:field="${reperation.damage_Location}">
    <label for="Tag">Tag</label><br> -->
    <br><br>


    <label>Venligst specificer opgaven efter bedste evne</label>
    <br>
    <input type="text" name="description" th:field="${reperation.description}" >

    <br>
    <br>
    <br>

    <input style="background-color: red" type="submit" value="Send">


</form>
</body>
</html>